# Build outputs
/out/
/.vs/

# VS user files
/build/msvc/*.vcxproj.user

# Third-party build cache
/third_party/boringssl/build/
/third_party/boringssl/boringssl.zip.bak

# Misc
*.pdb
*.obj
*.log
*.exp
*.lib
*.dll

