# Ignore local build outputs and intermediates
/out/
/third_party/boringssl/build*/
/.vs/
*.user
*.suo

# VS/MSVC intermediates
*.obj
*.ipdb
*.iobj
*.tlog
*.exp
*.log

# Ignore distributable artifacts
/dist/
third_party/boringssl/boringssl.zip.bak
